.chart-section {
  background-color: #fffefc;
  padding: 15px;
  border-top: 3px solid #ffb26f;
  border-bottom: 3px solid #ffb26f;
  cursor: pointer;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.chart-title {
  color: #222;
}

.chart-arrow {
  font-size: 30px;
  color: #bbb;
}

.chart-wrapper {
  height: 220px;
  margin-top: 0px;
}
