/* 전체 컨테이너 */
.findpw-container {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

/* 뒤로가기 버튼 */
.findpass-back-button {
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 30px;
  top: 20px;
}

/* 타이틀 */
.findpw-title {
  margin-top: 200px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

/* 입력 폼 */
.findpw-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 12px;
  border: 1.5px solid #ffb680;
  border-radius: 15px;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 0 0 0.5px rgba(255, 182, 128, 0.3);
}

.findpw-form input:focus {
  outline: none;
  border-color: #ffa158;
}

/* 버튼 */
.findpw-form button {
  width: 100%;
  padding: 15px;
  background-color: #ff9f4a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.findpw-form button:hover {
  background-color: #ff8b26;
}

.findpw-form button:active {
  transform: scale(0.98);
}

/* 결과 박스 */
.result-box {
  margin-top: 30px;
}

/* 성공/실패 메시지 */
.success-box,
.fail-box {
  background-color: #fef9f4;
  border: 1px solid #ffd5aa;
  border-radius: 15px;
  padding: 30px;
}

.found-msg,
.no-result {
  font-size: 15px;
  margin-bottom: 20px;
  color: #333;
}

/* 버튼 그룹 */
.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* 회색 버튼 */
.gray-btn {
  flex: 1;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
}

.gray-btn:hover {
  background-color: #cfcfcf;
}

/* 주황 버튼 */
.blue-btn {
  flex: 1;
  background-color: #ffa158;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
}

.blue-btn:hover {
  background-color: #ff8b26;
}
