/* 로그인 전체화면 구조 */
.login-container {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

/* 캐릭터 및 로고 */
.character-logo {
  position: relative;
}
.character1 {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  z-index: 1;
}
.logo1 {
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Tadak', sans-serif;
}

/* 폼 스타일 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}
.login-form input {
  padding: 20px 15px;
  border: 1.5px solid #ffb680;
  border-radius: 20px;
  font-size: 13px;
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 182, 128, 0.3);
}
.login-form button {
  padding: 20px;
  background-color: #ff9f4a;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(255, 182, 128, 0.3);
}
.login-form button:hover {
  background-color: #ff8b26;
}
.login-form button:active {
  transform: scale(0.99);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* 링크 및 푸터 */
.find-info {
  margin: 20px 0px 5px 0px;
  text-align: right;
  font-size: 13px;
  color: #555;
  font-weight: bold;
}
.find-info span {
  cursor: pointer;
  font-weight: normal;
  margin: 0px 5px;
}
.login-footer {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #555;
}
.login-footer span {
  color: #ff9f4a;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}
.login-footer span:hover {
  color: #ff7a1a;
}

/* 페이드 아웃 + 스크롤 방지 */
.fade-out {
  animation: fadeOut 0.3s ease forwards;
  overflow: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
