/* 분석 리포트 헤더 영역 */
.report-header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  height: 48px;
}

.back-button {
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  z-index: 1;
}

.report-header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
